body{
    background-color:azure;
    background-size: cover; 
}


#fotoPerfil{
    float: left;
    width: 250px;
    height: 250px;
}

#fotoPerfil img{
    width: 250px;
    height: 250px;
}

.info{
    float: left;
}

.info div{
    padding: 35px;
}

#bio{
    width: 100%;
    height: 250px;
    float: left;
}

#MusicaPeliculas{
    width: 100%;
    height: 250px;
    float: left;
}