nav {
    background-color: rgba(201, 76, 76, 0.5);
    width: 100%;
}


body {
    background-image: url(http://globalmedicalco.com/photos/globalmedicalco/8/37470.jpg);
    margin: 0px;
   

    
}
section{
    display: block;
    border: dotted;
    width: 500px;
    height:500px;
    float:left;
    margin-left: 80px;
    background-color: lightgray;
    margin-bottom: 16px;
    
   
     
}
.name {
    display: block;
    border: dotted;
    width: 350px;
    height:350px;
    background-color: rgba(201, 76, 76, 0.5);
    float:right;
    margin-right: 800px; 
  
}

.bio{
    display: block;
    border: dotted;
    clear: both;
    width: 1800px;
    height:500px;
    position: center;
    margin-left: 80px;
    background-color: rgba(201, 76, 76, 0.5);
    font-size: 50px !important;
    
}
.gustos{
    display: block;
    border: dotted;
    width: 1800px;
    height:500px;
    clear:both;
    margin-left: 80px;
    background-color: rgba(201, 76, 76, 0.5);
    margin-top: 16px;
}