.main{
    background-color: silver;
    margin-top: 70px;
    margin-left: 350px;
    width: 700px;
    height: 450px;
    border-radius: 20px;
}
.photo{
    width: 250px;
    height: 300px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
}
.photo img{
    width: 250px;
    height: 300px;
}
.name{
    width: 350px;
    height: 70px;
    background-color: deepskyblue;
    float: right;
    border-radius: 20px;
    margin-top:30px;
    margin-right: 30px;
    font-size: 30px;

}

.github{
    width: 350px;
    height: 70px;
    float: right;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 30px;
}
.github i{
    width: 0px;
    height: 90px;
    float: left;
    margin-right:50px;
}
.social{
    width: 350px;
    height: 160px;
    background-color: tan;
    float: right;
    border-radius: 20px;
    margin-top:50px;
    margin-right: 30px;
    font-size: 30px;

}
.social i{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 45px;
    margin-top: 25px;
}
.bio{
    background-color: salmon;
    margin-top: 70px;
    margin-left: 350px;
    width: 700px;
    height: 250px;
    border-radius: 20px;
    font-size: 30px;
}
.music{
    background-color: deepskyblue;
    margin-top: 100px;
    margin-left: 350px;
    width: 700px;
    height: 250px;
    border-radius: 20px;
    font-size: 30px;
}
h4{
    text-align: center;
    margin-top: 4px;
}
h3{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
