body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photobox {
    background-color: beige;
    margin: 30px;
    width: 30px;
    padding: 160px;
    box-shadow: rgb(0,0 0, 5) 1px 1px 1p;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.nombre { 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 19%;
        padding: 5px; 
        font-size: 30px;
        background-color: aliceblue;
    }

.tarjeta {
    background-color: bisque;
    margin-top: 15px;
    background-color: white;
    width: 450px;
    height: 180px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 2px;
    border-radius: 1px;
    }

.contenedor {
    background-color: rgb(202, 245, 210);
    box-shadow: rgb(0,0 0, 5) 1px 1px 1p;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.gustos {
    clear: both;
    background-color: rgb(241, 241, 241);
    width: 80vw;
    height: 250px;
    margin-left: 10vh;
    padding: 10px;
    margin-top: 25px; }